.dropdown-container {
    position: relative;
    display: inline-block;
    margin:center;
    
  }
  
  .dropdown-button {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0px;
    background-color: black;
  }
  
  .dropdown-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
  }
  
  .dropdown-options li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-options img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  
  .dropdown-options li:hover {
    background-color: #f2f2f2;
  }
  